@import "globals";

html,
body,
div#react-container,
div.app {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.app {

}

h1 {
  margin: 0;
  padding: 0;
}

div.drag-target-outline {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: red;
}

div.pic-form {
  img {
    width: 100px;
  }
}

div.pictures {

  img {
    width: 200px;
    float: left;
  }
}