@import "globals";

div.upload-pic {

  div.drag-target-outline {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 4em);
    width: calc(100% - 4em);
    border: dotted 2em $outline-color;
    background-color: $transparent-background;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-family: Verdana, sans-serif;
      font-size: 5em;
      font-weight: bold;
      color: $outline-color;
      text-align: center;
      pointer-events: none;
    }
  }

}

